<form action="/" method="post">
  <div class="row">
    <div class="col-10 offset-1">
      <input
        class="form-control bg-light"
        type="text"
        placeholder="Input URL here"
        name="url"
        value=""
        aria-label="default input example"
        required
      />
    </div>
  </div>
  <div class="row">
    <div class="d-grid gap-2 col-10 mx-auto">
      <button
        type="submit"
        class="btn btn-outline-primary mt-2"
      >Shorten</button>
    </div>
  </div>
</form>