<div class="row col-10 offset-1">
  <div id="short-url" class="text-align-center mb-2">
    <p>Success! Please use this link:</p>
    <a href="{{originURL}}" target="_black"><span>{{shortURL}}</span></a>
  </div>
  <button id="copy-button" class="btn-secondary" onclick="copy()">Copy</button>
  <script>
    function copy() { const url =
    document.querySelector('#short-urlaspan').innerText
    navigator.clipboard.writeText(url) alert('Copied Successfully！') }
  </script>
  <button
    type="button"
    class="btn btn-primary mt-2"
    onclick="javascript:history.back()"
  >回到首頁</button>
</div>